[submodule "lib/yaml-cpp"]
	path = lib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "lib/kubernetes"]
	path = lib/kubernetes
	url = https://github.com/kubernetes-client/c.git
[submodule "assets/oxygen-icons"]
	path = assets/oxygen-icons
	url = https://github.com/KDE/oxygen-icons.git
[submodule "assets/breeze-icons"]
	path = assets/breeze-icons
	url = https://github.com/KDE/oxygen-icons.git